body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

